include MANIFEST.in
include LICENSE
include README
include AUTHORS
include setup.py
include setup.cfg
recursive-include lapels *.py
recursive-include modtools *.py
recursive-include examples *.py
recursive-include bin *
